body
{
background-color:#00EAD3;
}
h2{
    background-color:oldlace;
}
dt
{
    background-color: #DA0037;
}
dd{
    background-color: paleturquoise;
}
ul{
    background-color: oldlace;
}

